@model SurveyResult
@{
    ViewData["Title"] = "Survey";
}

<h2>Survey</h2>
<form asp-controller="Home" asp-action="Survey" method="post">
    <label asp-for="ParkName"></label>
    <select asp-for="ParkName" asp-items="Model.Names"></select>
</form>

