@model SurveyResult
@{
    ViewData["Title"] = "Survey";
}

<h2>Survey</h2>
<form asp-controller="Survey" asp-action="Survey" method="post">
    <label asp-for="ParkName"></label>
    <select asp-for="ParkName" asp-items="Model.ParkNames"></select>
    <span asp-validation-for="ParkName" style="color:red"></span>
    <label asp-for="EmailAddress"></label>
    <input type="email" asp-for="EmailAddress" />
    <span asp-validation-for="EmailAddress" style="color:red"></span>
    <label asp-for="State"></label>
    <input type="text" asp-for="State" />
    <span asp-validation-for="State" style="color:red"></span>
    <label asp-for="ActivityLevel"></label>
    <input type="radio" name="@Model.ActivityLevel" value="Inactive"> Inactive<br>
    <input type="radio" name="@Model.ActivityLevel" value="Sedentary"> Sedentary<br>
    <input type="radio" name="@Model.ActivityLevel" value="Active"> Active<br>
    <input type="radio" name="@Model.ActivityLevel" value="Extremely Active"> Extremely Active<br>
    <span asp-validation-for="ActivityLevel" style="color:red"></span>
    <input type="submit" value="Submit" />
</form>

